<template>
  <div class="block">
    <h1  v-if="!settings.address"  class="mb-4 main-title">You're Early Sweetie </h1>
    <h1  v-if="settings.address"  class="mb-4 main-title-2">YES! </h1>
   
          <a v-if="!settings.address" class="button-large-ps circle-button button button-primary" @click="modalLoginOpen = true">
            Connect wallet
          </a>

          
           <a v-if="settings.address && settings.lpAddr !== null" class="button-large-ps circle-button button button-primary" @click="rebalancer()">
            Rebalance
          </a>
          <p v-if="settings.lpAddr"><a style='color:red' href='https://exchange.pancakeswap.finance/#/swap?outputCurrency=0x164Fa1e6CF4125769df68245e942ea2F456aD47C'>Pancake LP</a> 
          {{$store.state.settings.yesBalance}} YES / {{$store.state.settings.bnbBalance}} BNB</p>
           <p style='text-align:center'>
           <lable v-if="settings.address && settings.lpAddr == null">
             BNB Amount
             <span class='float-right'>
               Balance: 
               <span style='color:yellow; cursor:pointer;' @click='setMax'>
                 {{$store.state.settings.balance}}
               </span>
              </span>
            </lable>
            <input style='margin:auto; border-radius: 5px; padding: 8px;' v-if="settings.lpAddr == null && settings.address" v-model='value' type='text' />
          <a v-if="settings.lpAddr == null && settings.address" 
           class="button-small-ps circle-button button button-primary"
             >
             Presale
          </a>


          
           <p v-if="settings.allowanceTx===1">Please wait. Waiting for {{$store.state.settings.confirmations}} confirmations</p>
    <p v-if="settings.saleTx===1"><b>Transaction submitted. Waiting for {{$store.state.settings.confirmations}} confirmations...</b></p>
    <p v-if="settings.saleTx===2"><b>Token Purchase Complete!</b></p>
    <ModalLogin :open="modalLoginOpen" @close="modalLoginOpen = false" />
    <ModalMakepotion
      v-if="isValid"
      :open="modalMakepotionOpen"
      :form="form"
      @close="modalMakepotionOpen = false"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { ethers } from 'ethers';

export default {
  data() {
    return {
      form: {
        quantity: ''
      },
      value: "SOLD OUT",
      modalLoginOpen: false,
      modalMakepotionOpen: false
    };
  },
  computed: {
    ...mapState(['settings']),
    isValid() {
      return parseFloat(this.form.quantity);
    },
    maxStrike() {
      const exchangeRate = this.settings.exchangeRates[this.form.asset];
      return exchangeRate && exchangeRate.usd ? exchangeRate.usd : 1e9;
    }
  },
  methods: {
    
    ...mapActions(['rebalance', 'presale']),
    rebalancer() {
      this.rebalance();
    },
    getYes() {
      const wei = ethers.utils.parseUnits(this.value);
      this.presale(wei.toHexString());
    },
    setMax() {
      this.value = this.$store.state.settings.balance
    },
    maxStake() {
      this.form.quantity = this.$store.state.settings.balance;
    }
  }
};
</script>
<style scoped>
.hasEffect {
  cursor: pointer;
}
</style>

